# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static/
staticfiles/

# Node
node_modules/
/frontend/build
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
.env.backup
.env.dev
.env.prod
.env.save
.env.staging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/
.env

doctors-studio-backend-e13229a469d2.json