Django==4.2.7
djangorestframework==3.14.0
drf-spectacular==0.27.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.31.0
django-cors-headers==4.3.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
WooCommerce==3.0.0
django-oauth-toolkit
psycopg[binary]
django-environ
authorizenet
python-decouple
django-anymail[mailgun]==13.1
pymysql==1.1.2
xhtml2pdf==0.2.16
google-cloud-secret-manager==2.20.0
django-redis
gunicorn
sentry-sdk
freetype-py
pycairo
rlPyCairo
